@import "tailwindcss";

@font-face {
  font-family: "Switzer";
  src: url("/fonts/Switzer.woff2");
}

@font-face {
  font-family: "Tanker";
  src: url("/fonts/Tanker.woff2");
}

@theme {
  --font-switzer: "Switzer";
  --font-tanker: "Tanker";

  --color-background: #10100e;
  --color-foreground: #ffffe3;
}

.hoverline {
  @apply relative after:content-[''] after:absolute after:bottom-0 after:left-0 after:h-px after:w-full after:bg-foreground hover:after:block after:hidden;
}
